// 重写组件核心样式，关联到 CSS 变量
.el-button--primary {
  background-color: var(--el-color-primary);
  border-color: var(--el-color-primary);
}

.el-button--primary:hover {
  // 使用预定义的透明色变量
  background-color: var(--el-color-primary-light-7) !important;
}

.el-input__wrapper:hover {
  box-shadow: 0 0 0 1px var(--el-color-primary-light-7) inset !important;
}

// 其他组件（输入框、复选框等）类似，按需覆盖核心颜色样式
.el-input__wrapper.is-focus {
  box-shadow: 0 0 0 1px var(--el-color-primary) inset !important;
}
