@font-face {
  font-family: "iconfont"; /* Project id 5017615 */
  src: url('iconfont.woff2?t=1765092807761') format('woff2'),
       url('iconfont.woff?t=1765092807761') format('woff'),
       url('iconfont.ttf?t=1765092807761') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-notice:before {
  content: "\e62b";
}

.icon-notice1:before {
  content: "\e616";
}

.icon-daizhifu:before {
  content: "\e60c";
}

.icon-zhifubaozhifu:before {
  content: "\e634";
}

.icon-alipay:before {
  content: "\e618";
}

.icon-zhifu:before {
  content: "\e6be";
}

.icon-chat:before {
  content: "\e69d";
}

.icon-cart1:before {
  content: "\e602";
}

.icon-kefu:before {
  content: "\e658";
}

.icon-kefu1:before {
  content: "\e625";
}

.icon-voucher:before {
  content: "\e657";
}

.icon-lishijilu_o:before {
  content: "\eb7b";
}

.icon-collection:before {
  content: "\e69e";
}

.icon-voucher1:before {
  content: "\e6e9";
}

.icon-setting:before {
  content: "\e659";
}

.icon-setting-copy:before {
  content: "\eb7d";
}

.icon-icon_519:before {
  content: "\e610";
}

.icon-right-arrow:before {
  content: "\e601";
}

.icon-back:before {
  content: "\e609";
}

.icon-yingyong:before {
  content: "\e600";
}

.icon-yonghu-copy:before {
  content: "\eb7c";
}

.icon-yonghu:before {
  content: "\e622";
}

.icon-chakanmingxi:before {
  content: "\e674";
}

.icon-cart-empty:before {
  content: "\e826";
}

.icon-delete:before {
  content: "\e839";
}

.icon-remind-fill:before {
  content: "\e840";
}

.icon-category:before {
  content: "\e84d";
}

.icon-home-fill:before {
  content: "\e857";
}

.icon-home:before {
  content: "\e858";
}

